*{
	padding: 0px;

}
a:link{
	color: yellow;
}

button{
	height: 2rem;
	width: 5.5rem;
	border-radius: .3rem;
	padding-top: .1rem;
	padding-bottom: .1rem;
	font-size: .7rem;
}
button:hover{
	color: teal;
}
#welcomeToPageImage img{
	width: 15rem;
	height: 10rem;
	grid-template-columns: 1fr;
}

.container{
	display: grid;
	grid-template-columns: 3rem, 6rem, 5rem, auto, 2rem;
	grid-gap: 1rem;
	position: relative;
}

body {
	margin: 0rem;
	background-image: url(../../images/hero-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}

.layer{
	background-color: rgba(264, 264, 264, .45);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	min-height: 100vh;
}

header{
	display: flex;
	justify-content: center;
}

.enterZipCode{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.inputAndSubmitZipCode{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: .25rem;
	margin-bottom: .25rem;
	margin-left: .25rem;
	margin-right: .50rem;
}

.enterZipCode input{
	height: 2rem;
	width: 6rem;
	font-size: 1.5rem;
}

.submitZipCodeButton{
	display: flex;
	justify-content: flex-end;
	margin-top: .2rem;
}

.zipCodeEntryAndSubmit{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

.currentPlanLink{
	/*background-color: darkgrey;*/
}

.zipAndPlanLink{
	/*background-color: grey;*/
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hardinessZone{
	/*background-color: lightgrey;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.sectionForAllPlantsForHardinessZone{
	display: grid;
	grid-template-rows: 4rem auto;
	/*background-color: purple;*/
	align-self: center;
	align-items: center;

}
.plantResultListTitle{
	display: flex;
	justify-content: center;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-gap: 5rem;
}

#plantImageContainer {
	grid-gap: 16px;
}

li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-bottom: 1rem;
	align-items: center;
	max-width: 145px;
	min-width: 140px;
	/*flex-basis: 140px;
    flex-grow: 1;
    flex-shrink: .5;*/
}

.addToPlanButton{
	background-color: darkred;
	margin-top: .35rem;
    margin-bottom: .35rem;
	height: 2rem;
	width: 6rem;
	cursor: pointer;
}

.listOfEachPlantForHardinessZone li img {
	width: 8rem;
	height: 8rem;
	display: flex;
}

.listOfEachPlantForHardinessZone li a {
	margin-top: .25rem;	
	grid-gap: 200px;
}

.listOfEachPlantForHardinessZone {
	margin-right: 2rem;
	margin-left: 2rem;
}

footer {
	display: flex;
	justify-content: space-around;
}

.plantListItem {
	background-color: slategray;
	border-radius: 5px;
}

.plantListItem img{
	display: flex;
	justify-content: center;
}

.plantListItem:hover{
	transform: scale(1.2);
	transition-duration: .4s;
}

.plantLinks{
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.modal {
	max-width: 100vw;
	display: none;
	position: fixed;
	z-index:2000;
	left:0;
	top:0;
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,0.4);

}
.close {
	float:right;
	cursor: pointer;
	font-size: 2.5rem;
	font-weight: bold;
}

.close:hover{
	transform: scale(1.1);
}

.modal-content {
	flex-direction: column;
    flex-wrap: wrap;
	background-color: rgba(264, 264, 264, .90);
	width: 30rem;
	margin: 15% auto;
	padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
	border: 1px solid green;
	border-radius: .2rem;
	font-size: 1.3rem;
	color: black;
}
.modalImageAndName{
   display: grid;
    grid-template-columns: .4fr .6fr;
}
.plantDescription{
	align-self: center;
}

.plantName{
	align-self: flex-start;
}

.modal img {
	height: 10rem;
	width: 10rem;
}