*{
  padding: 0px;
  margin: 0px;
}
body{
  font-family: 'Lalezar', cursive;

}
article{
  background-image: url(../images/styleImages/radishesInHand.jpg);
  background-size: cover;
  min-height:80vh; 
}
/*.layer{
  background-color: rgba(256,256,256,.8);
  min-height:100vh; 
}*/
header{
  display:grid;
  grid-template-rows: 7rem auto;
  color:#a10b16;

}
.header-title{
  display:flex;
  min-height: 100px;
  justify-content:center;
  align-content:center;
}
h1{
  /*font-family: 'Rakkas', cursive;
  */
  font-size: 72pt;
}

.header-title{
  display:flex;
  justify-content:center;
  align-content:center;
}
nav{
  display:flex;
  justify-content:center;
  font-size: 24pt;
  background-color: #325304;
}
.nav-links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width:800px;
  display:flex;
  justify-content:space-around;
  color: white;
  white-space: nowrap;
}
footer{
  display: flex;
  justify-content: center;
  background-color: #2b2c31;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
