<!DOCTYPE html>
<html lang ="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
<link rel="stylesheet" type="text/css" href = "../static/planPickerStyleSheet.css"></link>
<meta charset="ISO-8859-1">
<title>Garden Planner</title>
</head>

<body>
<div class = "container">
<header>
<h1> Watch Your Garden Grow</h1>
</header>
	<div class = "zipAndPlanLink">
		<div class = "enterZipCode">
		<form>Enter Zip Code</form><input></input>
		</div>
		<div class = "currentPlanLink">
		<h2><a href= "PlanLink">Link To Current Plan</a></h2>
		</div>
	</div>
	<div class = "hardinessZone">
	</div>
	<div class = "sectionForAllPlantsForHardinessZone">
		<h2>List Of Plants Per Hardiness Zone</h2>
		<div class="listOfEachPlantForHardinessZone">
			<ul>
				<li><button>Add to Plan</button><a href= "TomatoLink">Tomato</a><img src="../static/images/tomato.jpg" alt="tomato"></a></li>
				<li><button>Add to Plan</button><a href= "BeanFactory">BeanFactory</a><img src="../static/images/tomato.jpg" alt="beanfactory"></a></li>
				<li><button>Add to Plan</button><a href= "Carrots">Carrots</a><img src="../static/images/tomato.jpg" alt="Carrots"></a></li>
				<li><button>Add to Plan</button><a href= "Strawberries">Strawberries</a><img src="../static/images/tomato.jpg" alt="Strawberries"></a></li>
				<li><button>Add to Plan</button><a href= "Kale">Kale</a><img src="../static/images/tomato.jpg" alt="Kale"></a></li>
				<li><button>Add to Plan</button><a href= "Thyme">Thyme</a><img src="../static/images/tomato.jpg" alt="Thyme"></a></li>
				<li><button>Add to Plan</button><a href= "Oregano">Oregano</a><img src="../static/images/tomato.jpg" alt="Oregano"></a></li>
				<li><button>Add to Plan</button><a href= "Basil">Basil</a><img src="../static/images/tomato.jpg" alt="Basil"></a></li>
				<li><button>Add to Plan</button><a href= "Bacon">Bacon</a><img src="../static/images/tomato.jpg" alt="Bacon"></a></li>
				<li><button>Add to Plan</button><a href= "FutureVodka">FutureVodka</a><img src="../static/images/tomato.jpg" alt="FutureVodka"></a></li>				
			</ul>
		</div>
	</div>
<footer>
<h3>Copyright 2018</h3>
<h3>04/02/2018</h3>
</footer>
</div>
</body>
</html>