<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
	<link rel="stylesheet" type="text/css" href="/planPickerStyleSheet.css"></link>
	<link rel="stylesheet" type="text/css" href="/style/header.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/reportStyleSheet.css"></link>

	<meta charset="ISO-8859-1">
	<title>Garden Planner</title>
	<link rel="icon" href="/images/styleImages/sunAndLeaf.png"></link>
	<link href="https://fonts.googleapis.com/css?family=Lalezar|Rakkas" rel="stylesheet"></link>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"></link>
</meta>
</head>
<div class="layer">

	<body class="body">
		<div class="container">
			<header>
				<div class='header-title'>
					<h1>
						Watch Your Garden Grow
					</h1>
					<img src="/images/gardenLogo.jpg" />
				</div>
				<nav>
					<ul class='nav-links'>
						<li class='navigationLinks'>
							<a href="/about-us.html">About</a>
						</li>
						<li class='navigationLinks' id='planReportLink'>Current Plan</li>
						<li class='navigationLinks' id='redoPlanLink'>Redo Plan</li>
						<li class='navigationLinks'>
							<a href="/planPicker.html">Home</a>
						</li>
					</ul>
					<div class="enterZipCode">
						<form class="zipCodeEntryAndSubmit" method="GET">
							<label>Zip Code</label>
							<input type="text" class="zipCodeEntry" placeholder="Enter Zip Code" value="" name="zipcode"></input>
							<button type="submit" id="zipCodeSubmitButton">Submit Zip Code</button>
						</form>
					</div>
				</nav>
			</header>

			<section>
				<div class="reportlist">
					<dl th:each="reportItem: ${#lists.sort(report.reportItems, reportItemSowDateComp)}">
						<dt class="left" th:text="|${reportItem.plant.name} should be planted on|">PlantName</dt>
						<dd class="right" th:text="|${#temporals.format(reportItem.requestedSowDate, 'EEEE MMM dd, yyyy')}|">Planting Date</dd>
					</dl>
				</div>
			</section>
			<footer>
				<h3>&copy; 2018</h3>
			</footer>
		</div>
		<script src="/js/plantImagesJs.js"></script>
		<script src="/js/openingViewStyle.js"></script>
		<script src="/js/plantPlanApiFunctions.js"></script>
	</body>
</div>

</html>