<!DOCTYPE html>
<html lang ="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
<link rel="stylesheet" type="text/css" href = "../static/planPickerStyleSheet.css"></link>
<meta charset="ISO-8859-1">
<title>Garden Planner</title>
</head>

<body>
<div class = "container">
<header>
<h1> Watch Your Garden Grow</h1>
</header>
	<div class = "zipAndPlanLink">
		<div class = "enterZipCode">
		</div>
		<div class = "currentPlanLink">
		</div>
	</div>
	<div class = "hardinessZone">
	</div>
	<div class = "sectionForAllPlantsForHardinessZone">
		<h2>List Of Plants Per Hardiness Zone</h2>
		<div class = "listOfEachPlanForHardinessZone">
			<ul>
				<li>Tomato</li>
				<li>Bean Factory</li>
			</ul>
		</div>
	</div>

<footer>
</footer>
</div>
</body>
</html>